.grid{
    -fx-background-image: url("hinhnen.jpg");
}
#lgn{
    -fx-background-color: #4267b2;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-family: calibri ;
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.button{
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-family: calibri ;
    -fx-font-size: 16px;
}